
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h1>Your Clients</h1>
</div>
@foreach (var client in Model as IEnumerable<OAuthServer.Authorization.Models.Client>)
{
    <div class="container">
        <div>
            <label>Client Id</label>
            <span>@client.Client_Id</span>
        </div>
        <div>
            <label>Client Secret</label>
            <span>@client.Client_Secret</span>
        </div>
        <div>
            <label>Redirect URI</label>
            <span>@client.Redirect_Uri</span>
        </div>
        <br />
    </div>
}

<div>
    <a asp-action="NewClient">
        Add New Client
    </a>
</div>